[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-restframework = "*"
psycopg2 = "*"
python-dotenv = "*"
gunicorn = "*"
dj-rest-auth = "*"
django-allauth = "*"
djangorestframework-simplejwt = "==4.8.0"
django-cors-headers = "*"
pendulum = "*"
drf-nested-routers = "*"
django-simple-history = "*"
django-notifications-hq = "*"
pillow = "*"
pyjwt = "~=2.1.0"
django-storages = "*"
boto3 = "*"

[dev-packages]

[requires]
python_version = "3.9"
